.progress-dots {
	--dot-size: 0.2em;
	--animation-duration: 1s;
	--animation: growing-dot var(--animation-duration) infinite linear;
	position: relative;
	animation: var(--animation) calc(var(--animation-duration) / 4);
	margin-left: calc(var(--dot-size) * 1.75);

	@media (prefers-reduced-motion: reduce) {
		--animation: none;
	}

	&,
	&::before,
	&::after {
		display: inline-block;
		width: var(--dot-size);
		height: var(--dot-size);
		border-radius: 100%;
		background-color: currentColor;
	}
	&::before,
	&::after {
		content: '';
		position: absolute;
		top: 0;
	}
	&::before {
		left: calc(var(--dot-size) * -1.5);
		animation: var(--animation);
	}
	&::after {
		left: calc(var(--dot-size) * 1.5);
		animation: var(--animation) calc(var(--animation-duration) / 2);
	}
}

@keyframes growing-dot {
	0% {
		transform: scale(1, 1);
	}
	20% {
		transform: scale(1, 1.5);
	}
	50% {
		transform: scale(1, 0.67);
	}
	75% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(1, 1);
	}
}
