:root {
	font-size: 10px;
}

@font-face {
	font-family: 'monospace';
	advance-override: 0.0375; // stylelint-disable-line property-no-unknown
	src: local('monospace');
}

body {
	font-size: var(--default-font-size);
	font-family: 'Cascadia Code', monospace;
	background-color: var(--primary-background-color);
	color: var(--primary-color);
	display: grid;

	/* Additional smoothing fixes for MacOS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

/**
 * Class dedicated to visually hide elements that should still be read by screen readers
 */
.screen-reader-text {
	@include screen-reader-text;
}

/**
 * Generic classes that don't fit in elements or components
 */

.hidden {
	// Hide content while maintaining required space
	visibility: hidden;
}

.overlay {
	background: var(--overlay-fallback-color);

	@supports (backdrop-filter: blur(30px) saturate(125%)) {
		// Fluent acrylic effect: see https://medium.com/microsoft-design/diy-a-web-version-the-fluent-design-systems-acrylic-material-fe2eac2a40bb
		backdrop-filter: blur(30px) saturate(125%);
		background: var(--overlay-color);
	}
}
