body.blog {
	main {
		--grid-columns: [full-width-start] 1fr [margin-start] 1rem [content-start] min(140ch, calc(100vi - 2rem))
			[content-end] 1rem [margin-end] 1fr [full-width-end];
		row-gap: 2rem;
	}

	article {
		display: grid;
		grid-template:
			"image type" auto
			"image title" auto
			"image teaser" 1fr
			"image date" auto
			/ minmax(40%, 15em) 1fr;
		gap: 1rem 1.5rem;

		&:not(:has(> img)) {
			grid-template:
				"title" auto
				"teaser" auto
				"date" auto
				/ 1fr;
		}

		& > h2 {
			grid-area: title;
			margin: 0;
		}
		& img {
			grid-area: image;
			inline-size: 100%;
			/* min-block-size: 80%; */
			block-size: auto;
			max-block-size: 100%;
			object-fit: cover;
			border-radius: 0.5rem;
		}
		& .type {
			grid-area: type;
			justify-self: start;
			padding-inline: 0.75ch;
			font-size: 0.875rem;
			background: var(--color-highlight);
			border-radius: 0.25em;
		}
		& p {
			grid-area: teaser;
			margin: 0;
		}
		& time {
			grid-area: date;
			font-size: 0.875rem;
			color: var(--color-subtle-text);
		}

		@container (width <= 40rem) {
			/*  biome-ignore lint/suspicious/noDuplicateProperties: https://github.com/biomejs/biome/issues/6014 */
			grid-template:
				"image image" auto
				"title title" auto
				"teaser teaser" 1fr
				"date type" auto
				/ 1fr;
		}
	}
}

/* individual blog pages */
body:is([class^="blog-"], [class^="talks-"]) {
	article {
		grid-column: full-width;
		display: grid;
		grid-template-columns: subgrid;

		& > * {
			grid-column: content;
		}
		& h1 {
			/* TODO: replace through ident() when available - https://drafts.csswg.org/css-values-5/#funcdef-ident
			  In the meantime, set view-transition-name inline in template */
		}
		/* Treat an image following the h1 as the hero image */
		& h1 + p:has(img) {
			grid-row: 1;
			grid-column: full-width;

			& img {
				inline-size: 100%;
				block-size: auto;
				object-fit: cover;
				/* TODO: replace through ident() when available - https://drafts.csswg.org/css-values-5/#funcdef-ident
			  In the meantime, set view-transition-name inline in template */
			}
		}
		& p:has(img:only-child) {
			text-align: center;
		}
		& > footer {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			column-gap: 2rem;
			margin-block: 1em;
			font-size: 0.875rem;
			color: var(--color-subtle-text);

			> p {
				margin: unset;
			}
		}
	}
}

figure {
	& > p:has(> img:only-child) {
		margin-block: unset;
	}
	& img {
		max-inline-size: 100%;
		block-size: auto;
		border-radius: 0.25rem;
	}
	& > figcaption {
		margin-top: 0.5rem;
		font-size: 0.875rem;
		color: var(--color-subtle-text);
		font-style: italic;
		text-align: center;
		text-wrap: balance;
	}
}

:not(pre) > code,
kbd {
	background-color: var(--color-subtle-bg);
	border-radius: 0.25rem;
	padding-inline: 0.25rem;
	padding-block: 0.25rem;
}

pre {
	border: 1px solid var(--color-subtle-bg);
	border-radius: 0.5rem;
	padding-inline: 1.5rem;
	padding-block: 1.5rem;
}

h2#update::before {
	content: "⟳"; /* Unicode symbol for update */
	/* biome-ignore lint/suspicious/noDuplicateProperties: Version without alternative text as fallback */
	content: "⟳" / "";
	margin-inline-end: 0.2em;
	font-size: 1.2em;
	color: var(--color-accent);
}

.sidenote {
	font-size: 0.875rem;
	color: var(--color-subtle-text);
	border-left: 2px solid var(--color-subtle-text);
	margin-block: 1.5rem;
	padding-inline-start: 1.5rem;
	padding-block: 0.5rem;

	& > :is(h2, h3) {
		margin-block-start: 0;
	}
}

dl {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.75rem 1rem;
	margin-trim: block;

	& dt {
		font-weight: 600;
	}

	& dd {
		margin: 0;
	}
}
