body.blog {
	main {
		row-gap: 2rem;
	}

	article {
		display: grid;
		grid-template:
			"image title" auto
			"image teaser" auto
			"image date" auto
			/ 15em 1fr;
		gap: 1rem 1.5rem;

		&:not(:has(> img)) {
			grid-template:
				"title" auto
				"teaser" auto
				"date" auto
				/ 1fr;
		}

		& > h2 {
			grid-area: title;
			margin: 0;
		}
		& img {
			grid-area: image;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0.5rem;
		}
		& p {
			grid-area: teaser;
			margin: 0;
		}
		& time {
			grid-area: date;
			font-size: 0.875rem;
			color: var(--color-subtle-text);
		}

		@container (width <= 40rem) {
			/*  biome-ignore lint/suspicious/noDuplicateProperties: https://github.com/biomejs/biome/issues/6014 */
			grid-template:
				"image" auto
				"title" auto
				"teaser" auto
				"date" auto
				/ 1fr;
		}
	}
}

/* individual blog pages */
body[class^="blog-"] {
	article {
		grid-column: full-width;
		display: grid;
		grid-template-columns: subgrid;

		& > * {
			grid-column: content;
		}
		& h1 {
			view-transition-name: article-title;
		}
		/* Treat an image following the h1 as the hero image */
		& h1 + p:has(img) {
			grid-row: 1;
			grid-column: full-width;

			& img {
				inline-size: 100%;
				block-size: auto;
				object-fit: cover;
				view-transition-name: article-hero-image;
			}
		}
		& > footer {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			column-gap: 2rem;
			margin-block: 1em;
			font-size: 0.875rem;
			color: var(--color-subtle-text);

			> p {
				margin: unset;
			}
		}
	}
}

figure {
	& > img {
		inline-size: 100%;
		block-size: auto;
		border-radius: 0.25rem;
	}
	& > figcaption {
		margin-top: 0.5rem;
		font-size: 0.875rem;
		color: var(--color-subtle-text);
		font-style: italic;
		text-align: center;
		text-wrap: balance;
	}
}

:not(pre) > code {
	background-color: var(--color-subtle-bg);
	border-radius: 0.25rem;
	padding-inline: 0.25rem;
	padding-block: 0.25rem;
}

pre {
	border: 1px solid var(--color-subtle-bg);
	border-radius: 0.5rem;
	padding-inline: 1.5rem;
	padding-block: 1.5rem;
}

h2#update {
}
