body.blog {
	main {
		--grid-columns: [full-width-start] 1fr [margin-start] 1rem [content-start] min(140ch, calc(100vi - 2rem))
			[content-end] 1rem [margin-end] 1fr [full-width-end];
		row-gap: 2rem;
	}

	article {
		display: grid;
		grid-template:
			"image type" auto
			"image title" auto
			"image teaser" 1fr
			"image date" auto
			/ minmax(40%, 15em) 1fr;
		gap: 1rem 1.5rem;

		&:not(:has(> :is(img, picture))) {
			grid-template:
				"title" auto
				"teaser" auto
				"date" auto
				/ 1fr;
		}

		& > h2 {
			grid-area: title;
			margin: 0;
		}
		& > :is(picture, img) {
			grid-area: image;
		}
		& img {
			inline-size: 100%;
			/* min-block-size: 80%; */
			block-size: auto;
			max-block-size: 100%;
			object-fit: cover;
			border-radius: 0.5rem;
		}
		& .type {
			grid-area: type;
			justify-self: start;
			padding-inline: 0.75ch;
			font-size: 0.875rem;
			background: var(--color-highlight);
			border-radius: 0.25em;
		}
		& p {
			grid-area: teaser;
			margin: 0;
		}
		& time {
			grid-area: date;
			font-size: 0.875rem;
			color: var(--color-subtle-text);
		}

		@container (width <= 40rem) {
			grid-template:
				"image image" auto
				"title title" auto
				"teaser teaser" 1fr
				"date type" auto
				/ 1fr;
		}
	}
}

/* individual blog pages */
body:is([class^="blog-"], [class^="talks-"]) {
	main {
		margin-block-start: 0;
	}
	article {
		grid-column: full-width;
		display: grid;
		grid-template-columns: subgrid;

		& > * {
			grid-column: content;
		}
		& h1 {
			/* TODO: replace through ident() when available - https://drafts.csswg.org/css-values-5/#funcdef-ident
			  In the meantime, set view-transition-name inline in template */
		}
		/* Treat an image following the h1 as the hero image */
		& h1 + p:has(img) {
			grid-row: 1;
			grid-column: full-width;
			margin-block-start: 0;
			overflow: clip;

			& img {
				inline-size: 100%;
				block-size: auto;
				object-fit: cover;
				/* TODO: replace through ident() when available - https://drafts.csswg.org/css-values-5/#funcdef-ident
			  In the meantime, set view-transition-name inline in template */

				@supports (animation-timeline: view()) {
					animation: fadeOut 1ms linear both;
					animation-timeline: view();
					animation-range: exit 0% exit 100%;

					@media (prefers-reduced-motion: no-preference) {
						animation: fadeBack 1ms linear both;
						animation-timeline: view();
						animation-range: exit 0% exit 100%;
					}
				}
			}
		}
		& p:has(img:only-child) {
			text-align: center;
		}
		& > footer {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			column-gap: 2rem;
			margin-block: 1em;
			font-size: 0.875rem;
			color: var(--color-subtle-text);

			> p {
				margin: unset;
			}
		}
	}
}

figure {
	margin-inline: unset;

	& > p:has(> :is(img, picture):only-child) {
		margin-block: unset;
	}
	& img {
		max-inline-size: 100%;
		block-size: auto;
		border-radius: 0.25rem;
	}
	& > figcaption {
		margin-top: 0.5rem;
		font-size: 0.875rem;
		color: var(--color-subtle-text);
		font-style: italic;
		text-align: center;
		text-wrap: balance;
	}
}

:not(pre) > code,
kbd {
	background-color: var(--color-subtle-bg);
	border-radius: 0.25rem;
	padding-inline: 0.25rem;
	padding-block: 0.25rem;
}

pre {
	border: 1px solid var(--color-subtle-bg);
	border-radius: 0.5rem;
	padding-inline: 1.5rem;
	padding-block: 1.5rem;
}

h2#update::before {
	content: "⟳"; /* Unicode symbol for update */
	content: "⟳" / "";
	margin-inline-end: 0.2em;
	font-size: 1.2em;
	color: var(--color-accent);
}

.sidenote {
	font-size: 0.875rem;
	color: var(--color-subtle-text);
	border-left: 2px solid var(--color-subtle-text);
	margin-block: 1.5rem;
	padding-inline-start: 1.5rem;
	padding-block: 0.5rem;

	& > :is(h2, h3) {
		margin-block-start: 0;
	}
}

dl {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.75rem 1rem;
	margin-trim: block;

	& dt {
		font-weight: 600;
	}

	& dd {
		margin: 0;
	}
}

figure > p:has(img + img),
figure > p:has(picture + picture) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(20ch, 100%), 1fr));
	gap: 5ch;
	justify-content: space-evenly;

	& img {
		width: 100%;
		height: auto;
	}
}

iframe {
	border-radius: 0.25rem;
}

body:is([class^="blog-"], [class^="talks-"]) {
	aside {
		> h2 {
			border-block-start: 1px solid oklch(0.5 0 0);
			padding-block-start: 1em;
		}

		> a {
			padding: unset;
			margin-block-end: 2rem;
			background:
				radial-gradient(circle at 50% 250%, var(--color-subtle-bg), var(--color-bg)),
				linear-gradient(var(--color-subtle-bg), var(--color-bg));
			background-clip: padding-box, border-box;
			background-origin: padding-box, border-box;

			box-shadow:
				0 0.75rem 1rem -0.25rem oklch(from black l c h / 0.06),
				0 0.25rem 0.375rem -0.125rem oklch(from black l c h / 0.02);
		}

		article {
			display: grid;
			grid-template:
				"image . ." 0.5em
				"image title ." auto
				"image teaser ." auto
				"image . ." 0.5em
				/ 35ch 1fr 0.25em;
			gap: 1rem 1.5rem;

			& > h3 {
				grid-area: title;
				margin: 0;
				/* TODO: replace through ident() when available - https://drafts.csswg.org/css-values-5/#funcdef-ident
					In the meantime, set view-transition-name inline in template */
			}
			& > :is(picture, img) {
				grid-area: image;
			}
			& img {
				inline-size: 100%;
				block-size: 100%;
				max-block-size: 100%;
				object-fit: cover;
				border-start-start-radius: 0.5rem;
				border-end-start-radius: 0.5rem;
				/* TODO: replace through ident() when available - https://drafts.csswg.org/css-values-5/#funcdef-ident
					In the meantime, set view-transition-name inline in template */
			}
			& .type {
				display: none;
			}
			& p {
				grid-area: teaser;
				margin: 0;
			}
			& time {
				display: none;
			}

			@container (width <= 70ch) {
				grid-template:
					"image image image" auto
					". title ." auto
					". teaser ." auto
					". . ." 0.5em
					/ 0.5em 1fr 0.5em;
			}
		}
	}
}

.share-button {
	&.hidden {
		display: none;
	}

	padding-inline: 0.5em;
	padding-block: 0.25em;
	font-size: 1rem;
	cursor: pointer;

	& > svg {
		inline-size: auto;
		block-size: 1.2em;
		fill: currentcolor;
		vertical-align: sub;
	}
}
