@property --color-border {
	syntax: "<color>";
	initial-value: black;
	inherits: false;
}
@property --color-border-2 {
	syntax: "<color>";
	initial-value: black;
	inherits: false;
}

@property --color-shadow {
	syntax: "<color>";
	initial-value: black;
	inherits: false;
}

body.home {
	main > div {
		font-size: clamp(1rem, 0.8645rem + 0.6024vw, 1.25rem);
		font-weight: 300;
	}
	.intro {
		isolation: isolate; /* avoid profile image bleeding on top of nav */

		& h2 {
			font-size: 1.25em;
			font-weight: 600;
			margin-block-end: 0.25em;
			text-wrap: balance;
			text-transform: none;
		}
		& a {
			float: left;
			margin-inline-end: 2rem;
			margin-block-end: 1rem;
			/* Positioning with z-index to avoid issues with float and link hover */
			position: relative;
			z-index: 1;
			shape-outside: polygon(0 0, 80% 0, 99% 30%, 98% 45%, 85% 75%, 65% 90%, 0 100%);

			@media (prefers-reduced-motion: no-preference) {
				animation: fadeIn 1ms linear both;
				animation-timeline: view();
				animation-range: entry 10% entry 100%;
			}
		}

		& > p {
			margin-block-start: unset;
		}
	}
	.website {
		ul {
			list-style-image: url("/icons/kunai.svg");
			::marker {
				color: var(--color-accent);
			}
		}
		li {
			margin-block: 0.5em;
		}
		strong {
			font-weight: 600;
			color: var(--color-accent);
		}
	}
	.catchphrase {
		font-size: clamp(2rem, 1.5rem + 2.5vw, 3.5rem);
		font-style: italic;
		font-weight: 700;
		text-align: center;
		margin-block: 1em;

		@media (prefers-contrast: no-preference) {
			background: linear-gradient(180deg, var(--color-text) 30%, oklch(from var(--color-text) 0.7 c h) 100%);
			background-clip: text;
			color: transparent;
			text-shadow: 0 0.25em 0.5em oklch(0 0 0 / 0.2);
		}
	}

	.profile {
		--color-border: var(--color-bg);
		--color-border-2: var(--color-subtle-bg);
		border-radius: 57% 43% 69% 37% / 50% 52% 57% 46%;
		border: 2px solid transparent;
		background:
			url("/images/colo-splash-bg.jpg"), radial-gradient(circle at 50% 250%, var(--color-subtle-bg), var(--color-bg)),
			linear-gradient(var(--color-border), var(--color-border-2));
		background-clip: padding-box, padding-box, border-box;
		background-origin: padding-box, padding-box, border-box;
		background-size: 100%, 100%, 100%;
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: bottom, center, center;

		filter: brightness(0.9);
		transition:
			--color-border 0.3s ease-out,
			--color-border-2 0.3s ease-out,
			--color-shadow 0.3s ease-out;

		box-shadow:
			0 0.75rem 1rem -0.25rem oklch(from var(--color-shadow) l c h / 0.1),
			0 0.25rem 0.375rem -0.125rem oklch(from var(--color-shadow) l c h / 0.2),
			inset 0 0.25rem 0.375rem -0.125rem oklch(from var(--color-shadow) l c h / 0.2);

		& > img {
			width: 10rem;
			height: 10rem;
			object-fit: cover;

			mask-image: linear-gradient(to bottom, black 98%, transparent 100%);
			mask-size: 100%;
			mask-repeat: no-repeat;
			transform: scale(1);
			transform-origin: left bottom;
			transition: transform 0.3s
				linear(
					0,
					0.447 8.5%,
					0.793 17.4%,
					0.927 22%,
					1.039 26.8%,
					1.125 31.7%,
					1.189 36.8%,
					1.224 41.2%,
					1.244 45.7%,
					1.25 50.5%,
					1.241 55.6%,
					1.195 65.1%,
					1.036 88.1%,
					1.009 94.4%,
					1
				);
			filter: drop-shadow(0 0.25rem 0.375rem oklch(0 0 0 / 0.75));
		}

		&:is(:hover, :focus) {
			filter: brightness(1);
			--color-border: var(--color-accent);
			--color-border-2: var(--color-accent);
			--color-shadow: var(--color-accent);

			@media (prefers-reduced-motion: no-preference) {
				outline: none; /* replace default outline through border color change on focus because outline form is inconsistent due to overflowing image */

				& > img {
					transform: scale(1.2);
				}
			}
		}
	}

	article {
		display: grid;
		grid-template:
			"image image title" auto
			"image image teaser" auto
			"type meta teaser" auto
			"date date teaser" auto
			/ 15ch 15ch 1fr;
		gap: 1rem 1.5rem;

		& > h3 {
			grid-area: title;
			margin: 0;
			/* TODO: replace through ident() when available - https://drafts.csswg.org/css-values-5/#funcdef-ident
			  In the meantime, set view-transition-name inline in template */
		}
		& img {
			grid-area: image;
			inline-size: 100%;
			block-size: auto;
			max-block-size: 100%;
			object-fit: cover;
			border-radius: 0.5rem;
			/* TODO: replace through ident() when available - https://drafts.csswg.org/css-values-5/#funcdef-ident
			  In the meantime, set view-transition-name inline in template */
		}
		& .type {
			grid-area: type;
			justify-self: start;
			align-self: start;
			padding-inline: 0.75ch;
			font-size: 0.875rem;
			background: var(--color-highlight);
			border-radius: 0.25em;
		}
		& p:not(.reading-meta) {
			grid-area: teaser;
			margin: 0;
		}
		& .reading-meta {
			grid-area: meta;
			margin: 0;
			font-size: 0.875rem;
			color: var(--color-subtle-text);
		}
		& time {
			grid-area: date;
			font-size: 0.875rem;
			color: var(--color-subtle-text);
			justify-self: end;
		}

		&.highlight {
			grid-template:
				"image image" auto
				"type meta" auto
				"date date" auto
				"title title" auto
				"teaser teaser" auto
				/ 1fr auto;
		}

		@container (width <= 40rem) {
			grid-template:
				"image image" auto
				"type meta" auto
				"date date" auto
				"title title" auto
				"teaser teaser" auto
				/ 1fr auto;
		}
	}
}
