@property --color-border {
	syntax: "<color>";
	initial-value: black;
	inherits: false;
}
@property --color-border-2 {
	syntax: "<color>";
	initial-value: black;
	inherits: false;
}

body.home {
	.intro {
		font-size: clamp(1rem, 0.8645rem + 0.6024vw, 1.25rem);
		font-weight: 300;
		isolation: isolate; /* avoid profile image bleding on top of nav */

		& strong {
			font-size: 1.25em;
			font-weight: 600;
			display: block; /* force line break */
			margin-block-end: 0.25em;
			text-wrap: balance;
		}
		& a {
			float: left;
			shape-outside: circle(55%);
			margin-inline-end: 2rem;
			margin-block-end: 1rem;
			/* Positioning with z-index to avoid issues with float and link hover */
			position: relative;
			z-index: 1;

			/*  biome-ignore lint/correctness/noUnknownProperty: https://github.com/biomejs/biome/issues/7625 */
			@supports (corner-shape: squircle) {
				shape-outside: polygon(0% 0px, 100% 0px, 100% 70%, 70% 100%, 0px 100%);
			}

			/*  biome-ignore lint/correctness/noUnknownProperty: https://github.com/biomejs/biome/issues/7625 */
			@supports not (corner-shape: squircle) {
				/* slighly offset image into circle for non-supporting browsers */
				margin-block-end: 0.25rem;
				translate: 5px -5px;
			}
		}

		& > p {
			margin-block-start: unset;
		}
	}

	.profile {
		--color-border: var(--color-bg);
		--color-border-2: var(--color-subtle-bg);
		border-radius: 50%;
		/*  biome-ignore lint/correctness/noUnknownProperty: https://github.com/biomejs/biome/issues/7625 */
		corner-shape: squircle;

		border: 2px solid transparent;
		background:
			url("/images/colo-splash-bg.jpg"), radial-gradient(circle at 50% 250%, var(--color-subtle-bg), var(--color-bg)),
			linear-gradient(var(--color-border), var(--color-border-2));
		background-clip: padding-box, padding-box, border-box;
		background-origin: padding-box, padding-box, border-box;
		background-size: 100%, 100%;
		background-repeat: no-repeat, no-repeat;
		background-position: bottom;

		filter: brightness(0.9);
		transition:
			--color-border 0.3s ease-out,
			--color-border-2 0.3s ease-out;

		box-shadow:
			0 0.75rem 1rem -0.25rem oklch(0 0 0 / 0.1),
			0 0.25rem 0.375rem -0.125rem oklch(0 0 0 / 0.2),
			inset 0 0.25rem 0.375rem -0.125rem oklch(0 0 0 / 0.3);

		& > img {
			width: 10rem;
			height: 10rem;
			object-fit: cover;

			mask-image: linear-gradient(to bottom, black 98%, transparent 100%);
			mask-size: 100%;
			mask-repeat: no-repeat;
			transform: scale(1);
			transform-origin: left bottom;
			transition: transform 0.25s ease-out;
			filter: drop-shadow(0 0.25rem 0.375rem oklch(0 0 0 / 0.75));
		}

		&:is(:hover, :focus) {
			filter: brightness(1);
			--color-border: var(--color-accent);
			--color-border-2: var(--color-accent);

			@media (prefers-reduced-motion: no-preference) {
				outline: none;

				& > img {
					transform: scale(1.2);
				}
			}
		}
	}

	article {
		display: grid;
		grid-template:
			"image title" auto
			"image teaser" auto
			"image date" auto
			/ 15em 1fr;
		gap: 1rem 1.5rem;

		& > h3 {
			grid-area: title;
			margin: 0;
			/* TODO: replace through ident() when available - https://drafts.csswg.org/css-values-5/#funcdef-ident
			  In the meantime, set view-transition-name inline in template */
		}
		& img {
			grid-area: image;
			inline-size: 100%;
			block-size: auto;
			max-block-size: 100%;
			object-fit: cover;
			border-radius: 0.5rem;
			/* TODO: replace through ident() when available - https://drafts.csswg.org/css-values-5/#funcdef-ident
			  In the meantime, set view-transition-name inline in template */
		}
		& p {
			grid-area: teaser;
			margin: 0;
		}
		& time {
			grid-area: date;
			font-size: 0.875rem;
			color: var(--color-subtle-text);
		}

		&.highlight {
			grid-template:
				"image" auto
				"title" auto
				"teaser" auto
				"date" auto
				/ 1fr;
		}

		@container (width <= 40rem) {
			/*  biome-ignore lint/suspicious/noDuplicateProperties: https://github.com/biomejs/biome/issues/6014 */
			grid-template:
				"image" auto
				"title" auto
				"teaser" auto
				"date" auto
				/ 1fr;
		}
	}
}
