body.home {
	.intro {
		& a {
			float: left;
			shape-outside: circle(50%);
			margin: 1rem;
		}
	}

	.profile {
		border-radius: 50%;
		width: 10rem;
		height: 10rem;
		object-fit: cover;

		border: 2px solid transparent;
		background:
			radial-gradient(circle at 50% 250%, var(--color-subtle-bg), var(--color-bg)),
			linear-gradient(var(--color-bg), var(--color-subtle-bg));
		background-clip: padding-box, border-box;
		background-origin: padding-box, border-box;

		box-shadow:
			0 0.75rem 1rem -0.25rem hsl(var(--hsl-shadow) / 0.06),
			0 0.25rem 0.375rem -0.125rem hsl(var(--hsl-shadow) / 0.02);
	}

	article {
		display: grid;
		grid-template:
			"image title" auto
			"image teaser" auto
			"image date" auto
			/ 15em 1fr;
		gap: 1rem 1.5rem;

		& > h3 {
			grid-area: title;
			margin: 0;
			view-transition-name: article-title;
		}
		& img {
			grid-area: image;
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: 0.5rem;
			view-transition-name: article-hero-image;
		}
		& p {
			grid-area: teaser;
			margin: 0;
		}
		& time {
			grid-area: date;
			font-size: 0.875rem;
			color: var(--color-subtle-text);
		}

		@container (width <= 40rem) {
			/*  biome-ignore lint/suspicious/noDuplicateProperties: https://github.com/biomejs/biome/issues/6014 */
			grid-template:
				"image" auto
				"title" auto
				"teaser" auto
				"date" auto
				/ 1fr;
		}
	}
}
