@keyframes fadeIn {
	from {
		opacity: 0;
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-100%) scaleY(0);
	}
}

@keyframes slideUp {
	from {
		opacity: 0;
		transform: translateY(100%);
	}
}

@keyframes parallax {
	from {
		transform: translateY(0lvb);
	}
	to {
		transform: translateY(20lvb);
	}
}
