@keyframes fadeIn {
	from {
		opacity: 0;
	}
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-100%) scaleY(0);
	}
}

@keyframes parallax {
	from {
		transform: translateY(0vb);
	}
	to {
		transform: translateY(20vb);
	}
}
