a {
	transition: color 0.3s ease;
	outline: none;
	color: var(--link-color);
	text-decoration: none;

	&[href]:not(.image) {
		/* Only for navigation links which are not images */
		&:hover,
		&:active {
			text-decoration: underline;
		}
	}
	&.image > svg {
		block-size: auto;
		inline-size: 4rem;
	}

	/**
     * States
     */
	&:focus, /* Set fallback for not supported focus-visible */
	&:focus-visible {
		color: var(--theme-color);

		/* filter: drop-shadow(0 0 0.5em var(--theme-color)); */

		&.image > svg {
			filter: drop-shadow(0 0 0.5rem var(--theme-color));
		}
	}
	&:hover {
		color: var(--hover-color);
	}
	&:active,
	&:focus:not(:focus-visible) {
		outline: 0;

		/* Reset focus if focus-visible is supported */
		color: var(--active-color);
	}
}
