---
import { Image } from "astro:assets";
import profileImage from "/src/assets/michael-profile.png";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me">

	<Image class="profile" src={profileImage} alt="Michael's profile picture" />

	<p>As a web developer with a strong focus on UI/UX, I create digital experiences that prioritize accessibility and user preferences, aiming to make every interaction smoother and more inclusive. I firmly believe that technology should adapt to people, not the other way around, and I am committed to designing interfaces that improve users’ lives, regardless of their abilities or browsing context.</p>
	<p>Innovation excites me, and I stay ahead of the curve by experimenting with new HTML and CSS features as soon as they’re available. I enjoy pushing boundaries, exploring fresh techniques, and introducing meaningful enhancements to the projects I work on. Writing clean, maintainable code is a priority—it’s about crafting solutions that stand the test of time and remain intuitive for developers and users alike.</p>
	<p>Beyond coding, I carry the principles of respect, discipline, and perseverance into every aspect of my professional interactions. Having practiced martial arts for years—including karate, Brazilian Jiu-Jitsu, Luta Livre, and MMA—I understand the value of consistency, focus, and collaboration. These qualities define not only how I approach problem-solving but also how I work within teams, ensuring a productive and supportive development environment.</p>
	<p>When I’m not building digital experiences, you’ll find me spending time with my family, engaging in sports, and exploring the outdoors—often accompanied by Bellona, our energetic Husky. Whether it's dogtrekking, mountain biking, or snowboarding, I embrace challenges with the same enthusiasm I bring to my work.</p>
	

</Layout>
