---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
	<div class="intro">
	<a href='/about'><img class="profile" src='/src/assets/michael-profile-colors.jpg' alt="michaël holding a katana on a colorful background"></a>
	<p>
		<strong> Hey! My name is Michaël</strong> I'm a passionate web developer dedicated to crafting accessible and user-friendly interfaces that make a difference. I believe that every user—regardless of abilities or context—should experience seamless, intuitive digital interactions. My love for clean code and exploring the latest HTML and CSS features fuels my drive for innovation. With a background in martial arts, I bring the same discipline, respect, and commitment to my work, ensuring high-quality, future-proof solutions.
	</p>
	</div>

</Layout>
