@mixin screen-reader-text {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	clip: rect(1px, 1px, 1px, 1px);
}

@mixin ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
