/**
 * Class dedicated to visually hide elements that should still be read by screen readers
 */
.screen-reader-text {
	position: absolute;
	block-size: 1px;
	inline-size: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	white-space: nowrap;
}

/**
 * Hide content while maintaining required space
 */
.hidden {
	visibility: hidden;
}

/**
 * End text with ... at container end
 */
.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
