@import url('~/@fontsource/nanum-brush-script/latin.css');
@import url('~/@fontsource/cascadia-code/index.css');

@font-face {
	font-family: 'Nanum Brush Script-fallback';
	size-adjust: 75.32%; /* stylelint-disable-line property-no-unknown */
	ascent-override: 126%;
	src: local('Arial');
}

@font-face {
	font-family: 'Cascadia Code-fallback';
	advance-override: 0.0375; /* stylelint-disable-line property-no-unknown */
	src: local('monospace');
}

:root {
	--font-family: 'Nanum Brush Script', 'Nanum Brush Script-fallback', sans-serif;
	--font-family-monospace: monospace;

	/* stylelint-disable-next-line media-feature-name-no-unknown */
	@media (prefers-redduced-data: no-preference) {
		--font-family-monospace: 'Cascadia Code', 'Cascadia Code-fallback', monospace;
	}

	/* font size */
	--font-size-s: clamp(0.75rem, 1.5vw, 1rem);
	--font-size-m: clamp(1rem, 2vw, 1.5rem);
	--font-size-header-xl: clamp(3.5rem, 12vw, 10rem);

	/* font weight */
	--font-weight-normal: 400;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;

	/* stylelint-disable-next-line media-feature-name-no-unknown */
	@media (horizontal-viewport-segments <= 2) {
		--font-size-header-xl: clamp(3.5rem, 10vw, 10rem);
	}
}
