@import '~@fontsource/nanum-brush-script/latin.css';

@media (prefers-redduced-data: no-preference) {
	@import '~@fontsource/cascadia-code/index.css';
}

@font-face {
	font-family: 'Nanum Brush Script-fallback';
	size-adjust: 75.32000000000005%;
	ascent-override: 126%;
	src: local('Arial');
}

@font-face {
	font-family: 'Cascadia Code-fallback';
	advance-override: 0.0375; // stylelint-disable-line property-no-unknown
	src: local('monospace');
}

:root {
	--default-font-size: 1.6rem;
	--font-size-large: 1.8rem;
	--font-size-xlarge: 2rem;
	--font-size-huge: 3rem;
	--font-size-small: 1.4rem;
	--font-size-xsmall: 1.2rem;
	--font-weight-normal: 400;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
}
