html {
	/* scroll-snap-type: y proximity; */

	/* TODO: activate only with content */
	block-size: 100%;
}

body {
	--layout-grid-columns: minmax(1rem, 1fr) auto minmax(1rem, 1fr);
	display: grid;
	grid-template:
		'. . .' 1fr
		'. header .' auto
		'. main .' auto
		'. . .' 1fr
		'footer footer footer' auto
		/ var(--layout-grid-columns);
	min-block-size: 100%;
	row-gap: var(--spacing-l);

	/* iOS Workaround: https://webkit.org/blog/7929/designing-websites-for-iphone-x/ */
	padding-block: env(safe-area-inset-top) env(safe-area-inset-bottom);
	padding-inline: env(safe-area-inset-left) env(safe-area-inset-right);
}

.background-container {
	display: flex;
	position: fixed;
	z-index: -1;
	justify-content: center;
	max-block-size: 100%;
	inline-size: 100%; /* necessary for the inner img to adapt */
	max-inline-size: 100%;
	margin: auto; /* center */
	inset-block-end: 0;
}

.background-image {
	block-size: auto;
	max-block-size: 100%;
	inline-size: auto;
	max-inline-size: 100%;
	object-fit: contain;
	filter: blur(1px) opacity(0.4) contrast(0.7) brightness(0.8);

	@media (prefers-color-scheme: light) {
		filter: invert(1) blur(1px) opacity(0.4) contrast(0.7) brightness(1.2);
	}
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media (horizontal-viewport-segments <= 2) {
	.background-container {
		max-inline-size: 50%;
	}
	body {
		/* grid-template-columns: minmax(auto, env(fold-left)) auto; */
		--layout-grid-columns: minmax(1rem, 1fr) minmax(auto, calc(env(viewport-segment-width 0 0) - 2rem))
			minmax(1rem, 1fr) calc(env(viewport-segment-left 1 0) - env(viewport-segment-right 0 0)) minmax(1rem, 1fr)
			minmax(auto, calc(env(viewport-segment-width 1 0) - 2rem)) minmax(1rem, 1fr);
		grid-template:
			'. . . . . . .' 1fr
			'. header . . . main .' auto
			'. . . . . . .' 1fr
			'footer footer footer footer footer footer footer' auto
			/ var(--layout-grid-columns);
	}
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media (vertical-viewport-segments <= 2) {
	.background-container {
		max-block-size: 50%;
	}
	body {
		grid-template:
			'. . .' 1fr
			'. header .' auto
			'. . .' 1fr
			'. . .' calc(env(viewport-segment-top 0 1) - env(viewport-segment-bottom 0 0))
			'. . .' 1fr
			'. main .' auto
			'. . .' 1fr
			'footer footer footer' auto
			/ var(--layout-grid-columns);
	}
}
