#footer {
	display: grid;
	grid-area: footer;
	grid-template-areas: '. copyright .';
	grid-template-columns: var(--layout-grid-columns);
	padding-block: var(--spacing-m);
	font-size: var(--font-size-s);
	text-align: center;

	@supports (grid-template-columns: subgrid) {
		grid-template-columns: subgrid;
	}

	& > .copyright {
		grid-area: copyright;
	}
}

/* stylelint-disable-next-line media-feature-name-no-unknown */
@media (horizontal-viewport-segments: 2) {
	#footer {
		grid-template-areas: '. copyright . . . . .';
	}
}
