#header {
	display: flex;
	grid-area: header;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	column-gap: 0.5em;
	color: var(--theme-color);
	filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--shadow-color));

	& > .logo {
		block-size: auto;
		inline-size: clamp(8rem, 25vw, 20rem);
	}
	& > h1 {
		margin: 0.2em;
		white-space: nowrap;
	}
}
