#header {
	grid-row: 1;
	grid-column: 1;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto 1fr;
	min-block-size: 100vh;
	max-block-size: 100vh;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	color: var(--theme-color);
	filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--shadow-color));
	scroll-snap-align: start;

	& > .logo {
		inline-size: clamp(8rem, 25vw, 20rem);
		block-size: auto;
		grid-row: 1;
		grid-column: 2;
	}
	& > h1 {
		margin: 0.2em;
		grid-row: 1;
		grid-column: 3;
		white-space: nowrap;
	}
	& > .background-video {
		grid-row: 1 / span 2;
		grid-column: 1 / span 4;
		align-self: stretch;
		object-fit: cover;
		z-index: -1;
	}
	& > #hero-image {
		grid-row: 1 / span 2;
		grid-column: 1 / span 4;
		align-self: end;
		opacity: 0.8;
		filter: drop-shadow(0.1rem 0.1rem 0.2rem var(--shadow-color));
	}
}
