main {
	grid-column: 1;
	grid-row: 3;
	align-self: center;
	color: var(--theme-color);
	font-size: clamp(1.6rem, 5vw, 3rem);
	text-align: center;

	& > section,
	& > article {
		content-visibility: auto;
		contain-intrinsic-size: 100vh;
		min-block-size: 100vh;
		scroll-snap-align: start;
	}
}
