main {
	grid-area: main;
	flex-grow: 1;
	align-content: center;
	color: var(--theme-color);
	font-size: clamp(1.6rem, 5vw, 3rem);
	text-align: center;

	& > section,
	& > article {
		content-visibility: auto;
	}
}

.social {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 1.2rem;
	text-align: center;
}
