#
# Run all checks on PRs and pushes
#
name: Checks

# Controls when the action will run.
on:
  pull_request:
    types: [opened, synchronize, reopened]

  push:
    branches: [main, next, beta, alpha]

  # Nightly run to ensure content ordering/build stays correct.
  # Note: GitHub cron schedules run in UTC.
  schedule:
    - cron: '0 2 * * *'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}_${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  pr-lint:
    name: '▶️ actions'
    uses: ./.github/workflows/pr-lint.yml

  dependencies:
    name: '▶️ actions'
    needs: [pr-lint]
    uses: ./.github/workflows/dependencies.yml
    permissions:
      pull-requests: write
      contents: write

  npm-lint:
    name: '▶️ actions'
    needs: [pr-lint]
    uses: ./.github/workflows/npm-lint.yml

  npm-build:
    name: '▶️ actions'
    needs: [pr-lint]
    uses: ./.github/workflows/npm-build.yml

  npm-test:
    name: '▶️ actions'
    needs: [pr-lint]
    uses: ./.github/workflows/npm-test.yml
