# This workflow triggers the release process after code check is completed
#
name: Preview
run-name: ${{ github.event.workflow_run.event }} [${{ github.event.workflow_run.id }}]

# Controls when the action will run.
on:
  workflow_run:
    workflows: [Checks]
    types: [completed]
    branches-ignore: [main, next, beta, alpha]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}_${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  publish:
    name: '▶️ actions'

    # Publish only if not PR is was not opened by dependabot
    if: github.actor != 'dependabot[bot]'

    uses: ./.github/workflows/publish.yml
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      CLOUDFLARE_ID: ${{ secrets.CLOUDFLARE_ID }}
    with:
      CLOUDFLARE_PROJECT_NAME: ${{ vars.CLOUDFLARE_PROJECT_NAME }}
    permissions:
      contents: read
      actions: read
      deployments: write    

  a11y-scan:
    name: '♿ a11y scan'
    needs: publish

    # Run only if publish job was run
    if: needs.publish.result == 'success'

    uses: ./.github/workflows/a11y-scan.yml
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    with:
      url: ${{ needs.publish.outputs.deployment-url }}
    permissions:
      contents: read
      issues: write
      pull-requests: write