# This workflow triggers the release process after code check is completed
#
name: Release
run-name: ${{ github.event.workflow_run.head_commit.message }} [${{ github.event.workflow_run.id }}]

# Controls when the action will run.
on:
  workflow_run:
    workflows: [Checks]
    types: [completed]
    branches: [main, next, beta, alpha]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}_${{ github.head_ref || github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  semantic-release:
    name: '▶️ actions'
    uses: ./.github/workflows/semantic-release.yml
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN  }}
      GH_TOKEN: ${{ secrets.GH_TOKEN  }}
    permissions:
      contents: write
      issues: write
      pull-requests: write

  publish:
    name: '▶️ actions'
    needs: [semantic-release]
    uses: ./.github/workflows/publish.yml
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN  }}
      CLOUDFLARE_ID: ${{ secrets.CLOUDFLARE_ID  }}
      INDEXNOW_KEY: ${{ secrets.INDEXNOW_KEY  }}
    with:
      CLOUDFLARE_PROJECT_NAME: ${{ vars.CLOUDFLARE_PROJECT_NAME }}
    permissions:
      contents: read
      actions: read
      deployments: write

  a11y-scan:
    name: '♿ a11y scan'
    needs: publish

    # Run only if publish job was run
    if: needs.publish.result == 'success'

    uses: ./.github/workflows/a11y-scan.yml
    secrets:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    with:
      url: ${{ needs.publish.outputs.deployment-url }}
    permissions:
      contents: read
      issues: write
      pull-requests: write
