@media (prefers-reduced-motion: no-preference) {
	@view-transition {
		navigation: auto;
	}
}

:root {
	color-scheme: dark;
	accent-color: var(--color-accent);
}

body {
	font-family: system-ui, sans-serif;
}
