body {
	/* Handle the notch on the iPhone */
	padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
	background-color: var(--primary-background-color);
	color: var(--primary-color);
	font-family: var(--font-family-monospace);
	font-size: var(--default-font-size);

	/* Additional smoothing fixes for MacOS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	accent-color: var(--theme-color);
}

/**
 * Generic classes that don't fit in elements or components
 */

.overlay {
	background: var(--overlay-fallback-color);

	@supports (backdrop-filter: blur(30px) saturate(125%)) {
		/* Fluent acrylic effect: see https://medium.com/microsoft-design/diy-a-web-version-the-fluent-design-systems-acrylic-material-fe2eac2a40bb */
		backdrop-filter: blur(30px) saturate(125%);
		background: var(--overlay-color);
	}
}
